.invite-form-heading{
    display: flex;
    justify-content:space-between;
}

.invite-form-heading h2{
    margin-top: 0;
    margin-left: 200px;

}

.invite-form{
  padding-top: 20px;
  justify-content: left;
}

.invite-input{
    margin-bottom: 20px;
}

.invite-textarea{
    height: 50px;
}

.invite-input, .invite-textarea{
  width: 250px;
  padding: 10px;
  margin-left: 160px;
}

.invite-label{
    position: absolute;
    padding: 10px;
    margin-left: -30px;
    justify-content: left;
}

.invite-modal {
    border: 2px solid;
    color: black;
    background: white;
    width: 600px;
    height: 325px;
    z-index: 1001;
  }
  
  .close-btn {
    cursor: pointer;
    background: rgb(186, 9, 9);
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 1px 3px;
    height: 26px;
  }
  
  .close-btn:hover {
    background: rgb(229, 14, 14);
  }
  
  .invite-btn{
    margin-top: 20px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: larger;
    background: #5ce1e6;
    border-color: white;
    cursor: pointer;
  }

  .invite-btn:hover{
    background: rgba(154, 208, 226, 0.512);
    border-color: black;
  }
  