.project-content-container{
    height: 100vh;
    padding: 100px 200px 30px 200px;
    background-color: rgb(208, 208, 208);
}

.project-title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.instruction{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500px;
    color: rgb(103, 103, 103);
}

.boq-button{
    margin-top: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
}

.boq-button button{
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 300;
    width: 600px;
    border: none;
    border-radius: 5px;
    background-color: rgb(88, 88, 88);
    color: rgb(131, 211, 235);
}

.boq-button button:hover{
    cursor: pointer;
    background-color: rgb(133, 133, 133);
    transition: background-color 0.4s ease;
    
}

.documents-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
}

th{
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}