.services {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #2d3e6f, #1e2947);
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .services-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .services-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .service-card1 {
    background: linear-gradient(to bottom, #b6bfda, #3d5187);
    padding: 20px;
    border-radius: 30px;
    width: 230px;
    height: 300px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    transition: transform 0.5s ease;
  }

  .service-card1:hover {
    transform: scale(1.1);
  }

  .service-card2 {
    background: linear-gradient(to bottom, #d0d3dd, #23d079);
    padding: 20px;
    border-radius: 30px;
    width: 230px;
    height: 300px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    transition: transform 0.5s ease;
  }

  .service-card2:hover {
    transform: scale(1.1);
  }

  .service-card3 {
    background: linear-gradient(to bottom, #c9d3f0, #adc54e);
    padding: 20px;
    border-radius: 30px;
    width: 230px;
    height: 300px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    transition: transform 0.5s ease;
  }
  
  .service-card3:hover {
    transform: scale(1.1);
  }
  
  .service-icon {
    margin-bottom: 15px;
  }
  
  .icon-svg {
    width: 48px;
    height: 48px;
  }
  
  .service-text {
    font-size: 1em;
    color: rgb(29, 29, 29);
    font-weight: bolder;
  }